<h1>マイページ</h1>


  <div class="name">
    <p> <%= @user.name %></p>
  </div>

  <div class="mypage">
  <div class="image">
    <%= image_tag @user.image_url, size: "150x160" if @user.image? %>
  </div>


  <div class="profile">
    <p> <%= @user.profile %></p>
  </div>



  <div class="edit">
    <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
    
  <% end %>
  </div>
</div>

<%= render 'follow_form' %>
<%= render 'stats' %>
<h2>ユーザーの投稿一覧</h2>
<% @user.pastimes.each do |t| %>
  <%= t.user.name %>
  <%= t.genre %>
  <%= t.hobby %>
  <%= t.time %>
  <%= t.price %>
  <%= t.number %>
<% end %>


<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.favorited_pastimes.each do |t| %>
  
  <%= t.user.name %>
  <%= t.genre %>
  <%= t.hobby %>
  <%= t.time %>
  <%= t.price %>
  <%= t.number %>
<% end %>


<%= link_to "pastime一覧に戻る", pastimes_path %>