

<div class="top">

    <div class="title_area">

    
        
        <div class="memo">
        <span class="masking-tape">
        </span>
    
        <div class="title_1">
             趣味を増やして生活に更なる彩を。
        </div>
        

        </div>
        <%= image_tag '赤い服の女の子と猫.jpg', class:'red_girl' %>
        <%= image_tag '青花.jpg', class:'blue_flower' %>
        <%= image_tag '筋トレ.jpg', class:'green_kintore' %>
    </div>


    <div class="newpost_area">
        <div class="newpost">
            <p>投稿してみんなと趣味を共有しよう✨</p>
        </div>  
        <div class="newpost_link">
            <p><%= link_to "新規投稿", new_pastime_path %><p/>
        </div>

            <%= image_tag 'キラキラ.jpg', class:'stars' %>
            <%= image_tag '絵を描く.jpg', class:'draw' %>

    </div>


<div class="search_area">


    <div class="search_title">
        投稿を探してみよう✨
    </div>

    <%= image_tag 'いいねランキング.jpg', class:'image_ranking' %>
    <%= image_tag '自己診断.jpg', class:'image_shindan' %>
    <%= image_tag '投稿.jpg', class:'image_post' %>


    <div class="iineranking">
        <%= link_to "いいねランキング", pastimes_top_path %>
    </div>

    <div class="shindan">
        <%= link_to "自己診断", shindans_path %>
    </div>

    <div class="s_post">
        <p>見て探す</p>
        <p>下へレツゴ～🍀</p>
    </div>

    
    




    
    <div class="free_search_area">
        <div class="free_search_title">
        <p>自由に文字を打ち込んで検索しよう😎</p>
        </div>   

        <div class="free search">
            <%= form_tag({controller:"pastimes",action:"index"}, method: :get) do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索する'  %>
            <% end %>
        </div>

    </div>  
    

   

    </div>

</div>

<div class="category">
        <p>カテゴリごとで探してみよう😚</p>
    
             
            <%= link_to "スポーツ・観戦", "/pastimes/suports" %>
            <%= link_to "旅行・アウトドア", "/pastimes/travels" %>
            <%= link_to "グルメ・料理", "/pastimes/gurumes" %>
            <%= link_to "作る・育てる", "/pastimes/makes" %>
            <%= link_to "音楽", "/pastimes/musics" %>
            <%= link_to "芸術・鑑賞", "/pastimes/arts" %>
            <%= link_to "ダンス", "/pastimes/dances" %>
            <%= link_to "ゲーム", "/pastimes/games" %>
            <%= link_to "エンタメ", "/pastimes/entames" %>
            <%= link_to "読書", "/pastimes/gyanbuls" %>
            <%= link_to "美容・健康", "/pastimes/biyous" %>
            <%= link_to "スキルアップ", "/pastimes/studies" %>
            <%= link_to "コレクション", "/pastimes/collections" %>
            <%= link_to "絵を描く", "/pastimes/volunteers" %>
            <%= link_to "その他", "/pastimes/others" %>
       
</div>




<div class="itiran">
<div class="itiran_title">
<p>一覧ページ</p></div>


<% @pastimes.each do |t| %>
    
<div class="p_post_name">
<span class="under_p"><%= t.hobby %></span>
</div>

    <div class="pastime">
<div class="p_image">
    <%= image_tag t.image_url, size: "150x100" if t.image? %>
</div>
   
   
    <div class="p_comment">
    <%= t.comment %></div>
      
</div>
<div class="p_show">
    <div class="youso">
      <p>期間</p><%= t.time %></div>
      <div class="youso2">
      <p>価格</p><%= t.price %></div>
      <div class="youso3">
      <p>人数</p><%= t.number %>
      </div>
     </div>
<div class="p_username">
     <%= link_to t.user.name, user_path(t.user.id) %></div>
      
      <% if user_signed_in? %>
      <% if current_user.already_favorited?(t) %>
         <%= link_to pastime_favorite_path(id: t.id, pastime_id: t.id), method: :delete do %>
            
            <i class="fas fa-heart"></i><%= t.favorites.count %>
           
         <% end %>
      <% else %>
         <%= link_to pastime_favorites_path(id: t.id, pastime_id: t.id), method: :post do %>
            
            <i class="far fa-heart"></i><%= t.favorites.count %>
           
         <% end %>
      <% end %>
  <% else %>
      
      <i class="far fa-heart"></i><%= t.favorites.count %>
     
  <% end %>

      <%= link_to "詳細へ", pastime_path(t.id) %>

      <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_pastime_path(t.id) %>
      <%= link_to "削除する", pastime_path(t.id), method: :delete %>
    <% end %> 

    
    
<% end %>
</div>

</div>
</div>

