
<div class="new_area">
<div class="new_area_title">

</div>

<div class="new_area_start">
<h1>新規投稿ページ</h1>
<h3>みんなと趣味を共有しよう✨</h3>
</div>

<div class="setumei">
<p>細かく書くとみんなが参考にしやすい!</p>
<p>空欄があっても大丈夫！投稿できる！</p>
</div>
</div>

<%= form_for @pastime do |f| %>

  <div class="field_new">
    <%= f.label :ジャンルを言葉にすると？%>
    </div>
    <div class="ran">
    <%= f.text_field :genre, :size => 40 %>
    </siv>
  </div>


  <div class="field_new">
    <%= f.label :名前はなに？%></div>
    <div class="ran">
    <%= f.text_field :hobby, :size => 40 %>
  </div>

  <div class="field_new">
  <%= f.label :金額はどのくらい？%></div>
  <div class="ran">
  <%= f.text_field :price, :size => 40 %>
  </div>
</div>

<div class="field_new">
  <%= f.label :どのくらいの期間やってる？%></div>
  <div class="ran">
  <%= f.text_field :time, :size => 40 %>
  </div>
</div>

<div class="field_new">
  <%= f.label :人数は何人からできる？%></div>
  <div class="ran">
  <%= f.text_field :number, :size => 40 %></div>
</div>

  <div class="field_new">
  <%= f.label :感想など思いのたけをぶつけてね！%></div>
  <div class="ran">
  <%= f.text_field :comment, :size => 100 %></div>
</div>

<div class="field_new">
    <%= f.label :写真とかはある？ %></div>
    <div class="ran">
    <%= f.file_field :image %>
  </div>

  <div class="category_new">
  <%= f.select :category, [["スポーツ・観戦", "suports"], ["旅行・アウトドア", "travels"], ["作る・育てる", "makes"], ["音楽", "musics"], ["芸術・鑑賞", "arts"], ["ダンス", "dances"], ["ゲーム", "games"], ["エンタメ", "entames"], ["読書", "gyanbuls"], ["美容・健康", "biyous"], ["スキルアップ", "studies"], ["コレクション", "collections"], ["絵を描く", "volunteers"], ["その他", "others"], ["グルメ・料理", "gurumes"]], include_blank: "当てはまるカテゴリーを選ぼう！" %>
</div>

<div class="submit_new">
  <%= f.submit "投稿する" %></div>
<% end %>

<div class="tophe_new">
<%= link_to "トップに戻る", pastimes_path %>

</div>