


<div class="show_title">
<p>詳細</p></div>
<div class="pastime">

<div class="show_name">
<p><%= @pastime.hobby %></p></div>

<div class="show_show">

<div class="show_image">
  <%= image_tag @pastime.image_url, size: "150x100" if @pastime.image? %></div>
  
  <div class="show_comment">
  <p><%= @pastime.comment %></p></div>
</div>

  <div class="show_showsai">
  <div class="show_youso">
  <p>期間</p><%= @pastime.time %></div>
  <div class="show_youso2">
  <p>価格</p><%= @pastime.price %></div>
  <div class="show_youso3">
  <p>人数</p><%= @pastime.number %></div>
  </div>

  <div class="date">
  <p><%= @pastime.created_at %></p></div>

  <% if user_signed_in? %>
  <% if current_user.already_favorited?(@pastime) %>
    <%= link_to pastime_favorite_path(@pastime), method: :delete do %>

      <i class="fas fa-heart"></i><%= @pastime.favorites.count %>

      <p>いいねを取り消す</p><%= @pastime.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to pastime_favorites_path(@pastime), method: :post do %>
      <p>いいね</p><%= @pastime.favorites.count %>
    <% end %>
  <% end %>
<% else %>
  <p>いいねの数 = </p><%= @pastime.favorites.count %>
<% end %>
</div>



<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@pastime, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="show_link">
<%= link_to "トップに戻る", pastimes_path %>
<%= link_to "編集する", edit_pastime_path(@pastime.id) %>
</div>

<div class="show_iine_user">
<div class="show_iine_usertitle">
<p>いいねしたユーザー</p></div>
<% @pastime.favorited_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>
</div>

<div class="show_link">
<%= link_to "トップに戻る", pastimes_path %></div>