 <div class="ranking">
<div class="title_area">
  <div class="title">
    <h3>👑いいね数ランキング👑</h3>
  </div>
</div>
<div class="post">
  <% last_favorite = 0 %>
  <% j = 1 %>
    <% @rank_pastimes.each.with_index(1) do |t, i| %>
      <% if i == 1 %>
        <% last_favorite = t.favorites.count %>
      <% end %>
      <% if t.favorites.count != last_favorite %>
        <% j = i %>
        <% last_favorite = t.favorites.count %>
      <% else %>
        <% last_favorite = t.favorites.count %>
      <% end %>
      <% if j == 1 %>
        <div class="post1">
          <p>第<%= j %>位</p>
         
          
          <p><%= t.hobby %></p>
          <p>値段：<%= t.price %></p>
          <p>期間：<%= t.time %></p>
          <p>人数：<%= t.number %></p>
          <p><%= t.comment %></p>
          
          <p><%= image_tag t.image_url, size: "200x150" if t.image? %></p>
          <p>
          <div class="star">
          <% if user_signed_in? %>
          <% if current_user.already_favorited?(t) %>
              <%= link_to pastime_favorite_path(id: t.id, pastime_id: t.id), method: :delete do %>
    
                <i class="fas fa-heart"></i><%= t.favorites.count %>
    
                  <p>いいねを取り消す</p><%= t.favorites.count %>
              <% end %>
          <% else %>
              <%= link_to pastime_favorites_path(id: t.id, pastime_id: t.id), method: :pastime do %>
                  <p>いいね</p><%= t.favorites.count %>
              <% end %>
          <% end %>
      <% else %>
          <p>いいねの数 = </p><%= t.favorites.count %>
      <% end %>
      <p><%= link_to "詳細へ", pastime_path(t.id) %></p>
    
          </div>
          </p>
        </div>
      <% elsif j == 2 %>                
        <div class="post2">
          <p>第<%= j %>位</p>
        
          <p><%= t.hobby %></p>
          <p>値段：<%= t.price %></p>
          <p>期間：<%= t.time %></p>
          <p>人数：<%= t.number %></p>
          <p><%= image_tag t.image_url, size: "200x150" if t.image? %></p>
          <p>
          <div class="star">
          <% if user_signed_in? %>
      <% if current_user.already_favorited?(t) %>
          <%= link_to pastime_favorite_path(id: t.id, pastime_id: t.id), method: :delete do %>

            <i class="fas fa-heart"></i><%= t.favorites.count %>

              <p>いいねを取り消す</p><%= t.favorites.count %>
          <% end %>
      <% else %>
          <%= link_to pastime_favorites_path(id: t.id, pastime_id: t.id), method: :pastime do %>
              <p>いいね</p><%= t.favorites.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= t.favorites.count %>
      
  <% end %>
  <p><%= link_to "詳細へ", pastime_path(t.id) %></p>
  

          </div>
          </p>
        </div>
      <% else %>
        <div class="post3">
          <p>第<%= j %>位</p>
          
          <p><%= t.hobby %></p>
          <p>値段：<%= t.price %></p>
          <p>期間：<%= t.time %></p>
          <p>人数：<%= t.number %></p>
          <p><%= image_tag t.image_url, size: "200x150" if t.image? %></p>
          <p>
          <div class="star">
          <% if user_signed_in? %>
          <% if current_user.already_favorited?(t) %>
              <%= link_to pastime_favorite_path(id: t.id, pastime_id: t.id), method: :delete do %>
    
                <i class="fas fa-heart"></i><%= t.favorites.count %>
    
                  <p>いいねを取り消す</p><%= t.favorites.count %>
              <% end %>
          <% else %>
              <%= link_to pastime_favorites_path(id: t.id, pastime_id: t.id), method: :pastime do %>
                  <p>いいね</p><%= t.favorites.count %>
              <% end %>
          <% end %>
      <% else %>
          <p>いいねの数 = </p><%= t.favorites.count %>
      <% end %>
      <p><%= link_to "詳細へ", pastime_path(t.id) %></p>
    
          </div>
          </p>
        </div>
      <% end %>
        
    <% end %>
</div>
